.sections-view {
  display: block;
  height: 100%;
}
.sections-view vaadin-grid {
  height: 100%;
}
.sections-view vaadin-grid-filter,
.sections-view vaadin-grid-filter > * {
  width: 100%;
}
.sections-view vaadin-grid vaadin-horizontal-layout {
  align-items: center;
}
.sections-view vaadin-grid img {
  border-radius: 50%;
  flex-shrink: 0;
  height: var(--lumo-size-m);
  width: var(--lumo-size-m);
}
.sections-view .name {
  overflow: hidden;
  text-overflow: ellipsis;
}
